;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/app"
  "src/test"]

 :dependencies
 [[reagent "0.8.1"]
  [webjure/tuck "20181204"]
  [markdown-to-hiccup "0.6.2"]
  [cider/cider-nrepl "0.18.0"]]

 :builds
 {:app {:target :browser
        :modules {:editor {:init-fn bloggo.editor.core/init}}
        :devtools {:http-root "public"
                   :http-port 8080}}}}
