;; shadow-cljs configuration
{:source-paths
 ["src/app"]

 :dependencies
 [[reagent "0.8.1"]
  [webjure/tuck "20181204"]
  [markdown-to-hiccup "0.6.2"]
  [cider/cider-nrepl "0.18.0"]
  [binaryage/devtools "0.9.10"]
  [metosin/reitit-core "0.2.13"]
  [metosin/reitit-frontend "0.2.13"]
  [data-frisk-reagent "0.4.5"]]

 :builds
 {:app {:target :browser
        :module-loader true
        :modules {:main {:entries [bloggo.main.core]
                         :init-fn bloggo.main.core/init}
                  :editor {:entries [bloggo.editor.core]
                           :depends-on #{:main}}}
        :devtools {:http-root "public"
                   :http-port 8080
                   :after-load bloggo.main.core/init}}}}
