@tailwind base;

@tailwind components;

@tailwind utilities;

.editor-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.editor-sub-view {
    width: 50%;
    height: 100vh;
}
